[2020-02-13 01:25] robotica72 opened #4 "Falco Daemonset of Kind under Ubuntu/CentOS/WSL2 - Same issue"
**Describe the bug**

I know its been mentioned in a few issues but I havent seen any resolution or a lot of discussion - so I was hoping to ask this one again - Trying to deploy a Falco DS on a Kind Cluster - I have tried it on Kind under Ubuntu 16.04 and 18.04, CentOS 8, and WSL2 (I expected WSL2 issues).   All have the same issue.

I have added the kernel-headers-$(uname -r) successfully - but

[2020-04-16 18:12] leodido opened #1 "README"
**What to document**

What this repo is for, what it contains and/or will contain.

In the README.

[2020-04-16 18:14] leodido opened #2 "Move here the existing integrations from the main Falco repository"
**Motivation**

As discussed with the whole community during [yesterday's community call](https://github.com/falcosecurity/community/blob/master/meeting-notes/2020-04-15.md), we're going to move out from the main Falco repository its `integrations/` directory.

This relates to the more broader discussion about Falco's official artifacts (https://github.com/falcosecurity/falco/issues/1114).

**Feat

[2020-04-16 18:20] leogr commented on #2
Cross-linking https://github.com/falcosecurity/falco/issues/1145

Once the content from the `integrations/` directory is moved here, I will clean up the falco repo.

[2020-04-18 16:50] maxgio92 commented on #2
Hi all,
I just opened a PR merely starting from moving the whole `integrations/` directory in the root of this project; I think that could be as good as little starting point, what do you think?

I also read the interesting discussion led by @kris-nova about the Falco artifacts and as discusses also in the last call I totally understand the point and agree.
Because of this I'll keep in mind the re

[2020-04-27 09:52] #2 closed

[2020-04-27 10:16] leogr opened #5 "initcontainer in the k8s examples should be updated"
Since the `falcosecurity/probeloader` image is not supported anymore, we need to update the way the initcontainer works [here](https://github.com/falcosecurity/contrib/blob/64ee5144a35340c70320d2be88a6ab0e4045763c/integrations/k8s-using-daemonset/k8s-with-rbac/falco-daemonset-configmap-slim.yaml#L22).
Now, the driver can be installed by using the `falco-driver-loader` script that's provided within

[2020-04-29 10:50] fntlnz commented on #1
/assign @leogr

[2020-04-29 19:11] leogr commented on #5
A new approach for the initcontainer :point_right: https://github.com/falcosecurity/falco/issues/1171

[2020-04-29 20:10] maxgio92 commented on #5
@leogr  thanks, I’d wait then for the driverloader image implementation

[2020-04-30 15:43] maxgio92 opened #7 "Cleanup of on-top-of-Kubernetes solutions"
**Motivation**

I think there are too ways to deploy Falco on top of Kubernetes (deployment VS daemonset + with-RBAC VS without-RBAC + Falco slim container image VS Falco "full" container image).

**Feature**

I'd maintain only the daemonset solution since the driverloader should run on every node, with RBAC enabled since it is the default authorization mechanism for apps in k8s.
Furthermore, sinc

[2020-05-02 12:01] maxgio92 commented on #4
Hi @ssurovich  @Chwetion, thanks for sharing, did you solve this issue?
Did you happen to try with 0.22.1?

[2020-05-02 12:02] maxgio92 commented on #4
/kind issue

[2020-05-03 14:16] maxgio92 opened #10 "Manage falco config and rules dependency"
**Motivation**

The Falco configuration and rules files are now statically copied from the current Falco's master version.

**Feature**

A smarter dependency management solution is needed.

**Alternatives**

A non-smart but rapid solution could be to point out the user to the available versions of Falco's default configuration and rules files.

**Additional context**

As for [this PR](https://gith

[2020-05-04 12:54] leogr commented on #7
Has that been fixed?
I believe so, except for the slim image that should be fixed by https://github.com/falcosecurity/contrib/issues/5

Furthermore, [integrations/k8s-using-deployment](https://github.com/falcosecurity/contrib/tree/master/integrations/k8s-using-deployment) seems to be a different use case that we should still keep, IMO.

[2020-05-04 15:59] maxgio92 commented on #7
Yes, I agree. As the deployment solution should still be in place this issue can be considered fixed for me too.

[2020-05-04 15:59] #7 closed

[2020-05-05 17:44] leogr opened #11 "Falco's examples should be move here"
**Motivation**

In the effort of reducing the scope of artifacts that are officially supported and included in the main repo, we should move https://github.com/falcosecurity/falco/tree/master/examples to here too.

**Feature**

Create the `/examples` directory and copy those files.

**Alternatives**

**Additional context**

Another PR in the main repo will be needed to remove them there.

[2020-05-06 15:59] kris-nova opened #12 "Adopt helm charts"
**Motivation**

Following the discussion on the call today. There was talk of moving the existing helm chart to the `contrib` status in The Falco Project.

We need a few things to make this happen.

 - We should revist the `OWNERS` file and append with someone who can maintain and support the helm chart
 - We should compose the helm chart in such a way that we can have multiple charts for various

[2020-05-06 16:02] nibalizer commented on #12
Question on this: How do we manage sub-owners files. I notice in the helm/charts repo they have an `OWNERS` per directory. Is this a configuration in prow/poiana?

[2020-05-06 16:30] nibalizer commented on #12
/assign nibalizer

[2020-05-06 17:00] kris-nova opened #13 "Adopt pdig"
**Motivation**

Following the discussion on the call today. There was talk of moving a new userspace program into the falcosecurity github org.

We need a few things to make this happen.

 - A clear OWNERS file for the new code base
 - Potentially a repository for the new code? Maybe it should live here?
 - A build process for the new code
 - Documentation for the new code

**Feature**

**Alternat

[2020-05-06 17:10] kris-nova commented on #13
I believe that `pdig` should enter the falco project as a `repository` status project. based on this paradigm.

### Contrib

Small amount of work, and in most cases is just documentation. Easy to adopt into the org.

### Repository

More work, usually logical code. More than just documentation. Has a concept of a build/release.

### Official

Officially supported artifacts on falco.org

---

This

[2020-05-06 17:11] kris-nova commented on #12
See https://github.com/falcosecurity/contrib/issues/13#issuecomment-624774787 for detail around `contrib` vs `repository`.

Where does the helm chart work belong?

[2020-05-06 17:20] robotica72 commented on #4
Hi @maxgio92 - I did have it working on 0.22.1 - Apologies for the delayed reply.  I just changed over my installation this week to use the driverkit module creation, which is a little easier that this method :)  So kudos on the driverkit project, works very well.

[2020-05-06 17:21] ssurovich commented on #4
Hi @maxgio92 - I did have it working on 0.22.1 - Apologies for the delayed reply. I just changed over my installation this week to use the driverkit module creation, which is a little easier that this method :) So kudos on the driverkit project, works very well.

[2020-05-06 17:37] nibalizer commented on #12
The helm chart has more to it than documentation, so I'd expect it to be a repository. It also has a concept of releases and semver.  From the docs: "This is done as needed, and can best be measured by the need to cut a release and use the GitHub release feature" I think we easily clear that bar for helm charts.

[2020-05-06 17:39] kris-nova opened #14 "Rename `contrib` repository to `evolution`"
**Motivation**

Following https://github.com/falcosecurity/falco/pull/1184 I would like for this repository to be a repository that holds the following.

 - Documentation on the evolution process (what is `contrib`, `repo`, and `official`? How do they work? How do you progress?)
 - A `/contrib` directory which serves as the storage for what is now this repository
 - A `/official` directory with do

[2020-05-06 17:39] nibalizer commented on #12
A practical wrinkle is that the expectation is that we'll set up a helm repository, which is practically a git repo with a bunch of helm charts inside it. So we might want to create `falcosecurity/helm-charts` containing the main falco charts, the falcosidekick chart, and charts-per-usecase (see original description)

[2020-05-06 18:20] maxgio92 commented on #12
I agree with @nibalizer.

One more thing to consider I think is that at the same time, all the Kubernetes code could be in the same repository. Different projects do this, with charts definitions under _/charts_ and bare manifests under _/deploy_ (for [example](https://github.com/banzaicloud/bank-vaults)).
Anyway, for now I think that the bare manifests are not ready, so they should remain in the

[2020-05-06 18:24] leodido commented on #12
@nibalizer @poiana understands nested OWNERS file (also it's able to merge them or not, depending on how we want it to behave, that bad bird!)

[2020-05-06 18:27] leodido commented on #12
Regarding the _status_ of the helm(s) chart(s) into the falcosecurity organization.

As long we have a list of OWNERS that take responsibility on maintaining them, I'm ok promoting them to _repository_ status from the _sandbox_ one (ie., this repo).

[2020-05-06 18:28] nibalizer commented on #12
I'll sign up for maintenance.

[2020-05-06 18:40] leodido commented on #14
I'd call it "yamloution" 😃

Anyway, I agree on this proposal.

The only thing I'd add is: it woud be rad if the OWNERS listed into the `/repo` YAMLs would be automatically collected from the OWNERS file we already have in place.
Don't you think? :)

[2020-05-07 08:28] maxgio92 commented on #14
So the `/official` directory in this repo will contain documentation of the projects that probably passed through the `/repository` step (as for [this](https://github.com/falcosecurity/contrib/issues/13#issuecomment-624774787)), and which sources probably have a dedicated repository, am I right?

[2020-05-07 09:18] leodido commented on #12
@bencer sign ups for maintenance as a reviewer

what about @nestorsalceda ?

[2020-05-07 09:31] leogr commented on #14
@maxgio92 yep, I think so

@leodido I strongly agree because you said "automatically" :cupid: :stuck_out_tongue_closed_eyes:

@kris-nova I agree too, but why `/official` could not be implemented as like as `/repo`? I'd like the idea of having official documentation in their own repos with `/official` that just indexes them.

[2020-05-07 16:07] nibalizer commented on #14
Overall I agree. For `/repo` I have done this on a few different projects so 100% agree we need the big yaml file(s) that have metadata about the repos. I would like to see that in the same repo as our [prow configs](https://github.com/falcosecurity/test-infra/blob/master/prow/config/configs.yaml#L122) since it's a lot of the same data and having them in the same repo makes it possible to set up c

[2020-05-11 12:27] loetn opened #16 "Helm Chart; Auditing not working. "the server could not find the requested resource""
**Describe the bug**

When installing Falco through the helm chart, this issue falcosecurity/falco#1026, that relates to a wrong setting in the Auditsink, still persists. After setting this to the correct format, as described in this issue, my Kubernetes API log file is full with `Error in audit plugin 'dynamic_webhook' affecting 1 audit events: the server could not find the requested resource` er

[2020-05-12 06:57] loetn commented on #16
Why is this transferred from the Falcosecurity issue section?

[2020-05-12 15:17] nestorsalceda commented on #12
Hey @leodido

I have been thinking a lot about this decision these past days and I think that right now I don't have enough time to support the chart with the quality that I would like. So I think that is better to step down and don't make promises that I can't keep.

I really enjoyed the time I spent working on the Falco Helm Chart trying to make Falco more accessible to the potential users. And

[2020-05-12 17:55] nibalizer commented on #12
Thanks for the good work @nestorsalceda :)

[2020-05-13 14:07] maxgio92 commented on #12
Thanks @nestorsalceda!

[2020-05-13 17:23] kris-nova commented on #14
Closing after the community call we have migrated pdig to github.com/falcosecurity/pdig and are following the official Falco project template and guidelines.

Welcome to Falco :)

[2020-05-13 17:29] kris-nova commented on #13
Closing after the community call we have migrated pdig to github.com/falcosecurity/pdig and are following the official Falco project template and guidelines.

Welcome to Falco :)

[2020-05-13 17:29] #13 closed

[2020-05-13 17:45] kris-nova opened #18 "Adopt Falco Trace"
**Motivation**

My repository [github.com/kris-nova/falco-trace](https://github.com/kris-nova/falco-trace)

Has a lot of work and documentation around running Falco with the new pdig project.

The work here is mostly a toolbox to demonstrate how to run Falco in various ways with pdig, and this could later turn into a go project or even make it's way into the official Falco build.

**Feature**

Cre

[2020-05-14 00:52] kris-nova opened #19 "Document Adoption Process"
**Motivation**

With more and more integrations being baked into the community, can we please

 - Document the process requesting for adoption
 - Document the process of regesting a repository
 - Add a github issue type each of those to this repo

**Feature**

**Alternatives**

**Additional context**

[2020-05-14 08:13] #16 closed

[2020-05-14 10:37] leodido commented on #19
Regarding the 3rd point, I can create custom GitHub template issues that merge/override the default ones we have (at the organization level).

We already did this for the falco-website repo (look [here](https://github.com/falcosecurity/falco-website/tree/master/.github)).

So my proposal is... 👇

Each template issue will automatically insert one of the following GitHub labels.
Thus we'll have 3 te

[2020-05-14 16:50] loetn opened #20 "Helm Chart; Auditing not working. "the server could not find the requested resource""
**Describe the bug**

When installing Falco through the helm chart, this issue falcosecurity/falco#1026, that relates to a wrong setting in the Auditsink, still persists. After setting this to the correct format, as described in this issue, my Kubernetes API log file is full with `Error in audit plugin 'dynamic_webhook' affecting 1 audit events: the server could not find the requested resource` er

[2020-05-14 16:52] leogr commented on #20
I've moved the issue again for the reason explained above, hoping someone can help out.

Feel free to open a specific issue on the main repo in case you found a problem that can be reproduced using Falco only (ie. not related to the helm chart or other integrations).

And thank you again for reporting this, your contribution is really appreciated! :)

[2020-05-14 18:34] nibalizer commented on #20
Interesting. I've used the helm chart with k8s auditing but not with dynamic configuration. I'll try to reproduce. I'm glad you got this working using the host install method @loetn! And we do apologize for the mess as we move stuff around and try to standardize.

[2020-05-15 09:40] fntlnz commented on #14
I like the new name and reasoning behind it - :+1:

[2020-05-17 08:12] maxgio92 opened #22 "Update the root README"
**What to document**

The root README should be updated to include the new _/deploy_ directory which contains the unofficial methods to deploy Falco.

/cc @leogr

[2020-05-18 19:11] kris-nova commented on #12
Thanks for all your hard work @nestorsalceda!

We have preserved your original work and the community will always be here if you want to come back and say hello.

---

The Falco helm charts repository has been created [github.com/falsosecurity/charts](https://github.com/falcosecurity/charts).

Welcome to the Falco project

[2020-05-18 19:11] #12 closed

[2020-05-19 08:59] #22 closed

[2020-05-19 09:56] leogr commented on #11
Done

[2020-05-19 09:56] #11 closed

[2020-05-20 08:05] leogr commented on #19
I like the labels! I would just use `kind/sandbox` instead of `kind/adoption` so we will able to use those labels for all issues not just requesting ones.

Btw, If you want to document the process, please add that on top of https://github.com/falcosecurity/contrib/pull/24
There you can found the new README. Thanks

[2020-05-21 10:53] leogr opened #25 "update kernel-and-k8s-audit/daemonset-least-privilege.yaml with new images"
**Motivation**

As described in [the docker documentation](https://falco.org/docs/running/#docker-least-privileged) we should update [daemonset-least-privilege.yaml](https://github.com/falcosecurity/contrib/blob/master/deploy/kubernetes/kernel-and-k8s-audit/daemonset-least-privilege.yaml) to reflect the usage of new images introduced recently.

**Feature**

- Replace `falcosecurity/probeloader:lat

[2020-05-21 12:33] maxgio92 commented on #14
I agree with @nibalizer to keep the `/repo` data centralized, I don't know if the [test-infra](https://github.com/falcosecurity/test-infra) could be the right one.

[2020-05-21 13:15] leodido commented on #14
I've changed my mind on the subdirectories `repo/` and `official/` by observing the eventual final result in the PR.

It seems to me they could only cause maintenance burden and confusion.

Everything here is "sandbox".
Everything having its own repo (with its own OWNERS) is "incubated".
Every artifact provided by the main Falco repo (and document so in the website) is "official".

[2020-05-25 08:36] leogr commented on #14
Hey @leodido

IMHO we can proceed with renaming this repo then merge the PR #24

[2020-05-26 08:40] #14 closed

[2020-05-26 13:46] #19 closed

[2020-05-26 13:47] leogr commented on #5
See https://github.com/falcosecurity/evolution/issues/25

[2020-05-26 13:47] #5 closed

[2020-07-07 14:22] Champ-Goblem opened #39 "Consice pod security policy template"
I am deploying falco on a set of clusters that all have PSPs enabled, we use a default fairly restrictive PSP across the whole cluster which causes this deployment to fail. For the time being I have created an exclusive pod security policy for the falco components to use which allows me to install them without the deployments being invalidated. What I would prefer is a tailored PSP that only allow

[2020-10-08 12:42] admiral0 opened #41 "Create kilt repository"
**Description of Request**

Please open a repository called kilt to contain the project described by proposal https://github.com/falcosecurity/falco/pull/1388 and implemented in PR #40. This has already been discussed in the community call.

**Motivation**

For motivation see proposal in falco repository - PR https://github.com/falcosecurity/falco/pull/1388

[2020-10-08 13:58] leogr commented on #41
For reference, yesterday's community call's meeting notes are :point_right: [here](https://github.com/falcosecurity/community/blob/871a3cad1dbdb99037489092c53bd83913a174bf/meeting-notes/2020-10-07.md#agenda).

Nobody disagreed on creating the repository; thus, we can proceed now :partying_face:

I'm also going to close https://github.com/falcosecurity/evolution/pull/40 in favor of this.

/assign @

[2020-10-09 13:35] leodido commented on #41
Hey please take a look at https://github.com/falcosecurity/kilt  🎉  🍰

[2020-10-09 13:38] leodido commented on #41
/close

[2020-10-09 13:38] #41 closed

[2020-10-09 13:38] poiana commented on #41
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/41#issuecomment-706186013):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2020-11-21 01:23] poiana commented on #10
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #4
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #18
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 07:23] poiana commented on #25
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-12-14 15:26] poiana commented on #39
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-12-16 12:29] #25 closed

[2020-12-25 15:35] poiana commented on #10
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 21:35] poiana commented on #4
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-26 03:35] poiana commented on #18
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-01-08 07:35] balasu opened #43 "falco-kubernetes installation on debian fails"
**Description of the issue**

I am setting up falco on Linode kubernetes engine, and was deploying through https://github.com/falcosecurity/evolution.git
falco. Falco pod is not coming and auditsink yaml is failing to install.

**How to reproduce it**
once clone the evolution repo, deploy yamls from below path
https://github.com/falcosecurity/evolution/tree/master/deploy/kubernetes/kernel-and-k8s-

[2021-01-13 15:37] poiana commented on #39
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-01-13 16:46] leodido commented on #43
Investigated this a bit.

PR [test-infra#276](https://github.com/falcosecurity/test-infra/pull/276) introduced YAML configuration for `driverkit` to build the above mentioned Falco drivers.

Anyways, by looking at the Falco Infra [logs](https://falco-prow-logs.s3.eu-west-1.amazonaws.com/pr-logs/pull/falcosecurity_test-infra/276/build-drivers-debian-presubmit/1347598297170186240/build-log.txt?X-Amz

[2021-01-18 10:38] fntlnz opened #44 "List what is sandbox, incubating, official support"
**What to document**

We need a place to use as a truth where we list what is the status of the various projects/subprojects.

For example:

- falcosecurity/falco: official support
- falcosecurity/kilt: incubating
- and so on

In some cases, some features or release artifacts of certain projects might not have the same level of the project itself. For example ECR images for Falco are not official

[2021-01-24 20:56] poiana commented on #10
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 20:56] poiana commented on #10
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/10#issuecomment-766430589):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-25 02:56] poiana commented on #4
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-25 02:56] #4 closed

[2021-01-25 02:56] poiana commented on #4
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/4#issuecomment-766507065):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-25 08:56] poiana commented on #18
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-25 08:56] #18 closed

[2021-01-25 08:56] poiana commented on #18
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/18#issuecomment-766659700):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-25 12:19] leogr commented on #10
/reopen

This is still an issue, IMHO.

[2021-01-25 12:19] poiana commented on #10
@leogr: Reopened this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/10#issuecomment-766777446):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-02-05 17:22] ismailyenigul opened #45 "add ekscloudwatch into falco helm chart to ship EKS audit logs to falco"
**Motivation**

There is no way for Falco to inspect the EKS audit events directly, Because they are being sent to CloudWatch only.
We need to ship EKS api logs from cloudwatch to falco.

https://github.com/sysdiglabs/ekscloudwatch works fine with falco.
We can add this image, and it's deployment to  falco helm chart at https://github.com/falcosecurity/charts/tree/master/falco
I am happy to work o

[2021-02-06 13:48] maxgio92 commented on #45
Hi @ismailyenigul , thank you. This is a good idea.
If you want to add an integration I think [this](https://github.com/falcosecurity/evolution/tree/master/integrations) is the correct repository to open a PR to.
Instead, if you want to add support to the helm chart you can open a PR to the [charts repository](https://github.com/falcosecurity/charts/tree/master/falco).

What do you think @leogr?

[2021-02-08 11:50] seishinsha opened #46 "Move VSCode plugin to falcosecurity"
**Description of Request**

Handoff of the VSCode plugin to falcosecurity.

**Motivation**

It might be in the best interest of the oss team to group all things falco related together.

[2021-02-08 12:07] nestorsalceda commented on #46
We forget to add a reference for the current repo!

https://github.com/sysdiglabs/vscode-falco

[2021-02-08 13:01] leodido commented on #46
Agree 💯

[2021-02-08 13:02] leodido commented on #46
One question.

Would you two commit as maintainers of the project? If yes, I'll put you two in the OWNERS file.

[2021-02-08 14:27] leogr commented on #45
Hi,

If I understood correctly the intent here is to add support for EKS audit events to the helm chart. That would be really great!

Unfortunatelly, https://github.com/sysdiglabs/ekscloudwatch is not maintained anymore (it has been confirmed by the original maintainers - @danpopSD correct me if I'm wrong).

So, IMHO we cannot simply integrate it in the helm Falco's chart ("incubating" status), si

[2021-02-08 14:55] leogr commented on #46
Agree too :partying_face:

[2021-02-08 16:57] bygui86 commented on #45
I agree with @leogr in general, but I would prefer to have a more agnostic k8s-event-exporter. It would take events directly from k8s, watching resources and routing them to Falco or somewhere else.

Normally I use GCP and it's pretty complicated and difficult to maintain the infrastructure to route GKE events to Falco (inside k8s). For this reason I would avoid involving EKS/GKE, relying only on

[2021-02-08 18:59] nestorsalceda commented on #46
I don't have time to do a proper job as a maintainer so I prefer to step down on this :(

[2021-02-08 19:31] seishinsha commented on #46
Agree to maintain it, time allowing ;).

[2021-02-08 21:58] Issif opened #47 "Falcosidekick UI"
**Description of Request**

I started few days ago a new project, a sidekick for `falcosidekick` 😄.

https://github.com/Issif/falcosidekick-ui

The idea is to get a simple Web UI which displays in real-time the latest events from `Falco`.

![image](https://user-images.githubusercontent.com/4520100/107286198-8d99be80-6a60-11eb-8fc3-017d21cd4dc8.png)

**Motivation**

I would like to incubate it and

[2021-02-09 08:30] leogr commented on #47
This is great! So OK for me :+1:

I also confirm my willingness to be in the [OWNERS](https://github.com/Issif/falcosidekick-ui/blob/master/OWNERS) file of this project.

PS
Welcome to @fjogeleit :)

[2021-02-10 16:10] fntlnz commented on #47
+1 for me

[2021-02-10 16:12] leodido commented on #47
💯  +1

@fjogeleit feel free to ping me over slack to coordinate for the invite in the org.

Steps after that:
- Move the repository
- Create an OWNER file
- Setup Prow (@poiana) workflow
   - How do you guys will release?
   - How will you generate the CHANGELOG?

[2021-02-10 17:00] leogr commented on #47
Btw, there's already an [OWNERS](https://github.com/Issif/falcosidekick-ui/blob/master/OWNERS) file, and it seems good to me.
I believe @cpanato agreed already to be in. Do you confirm?

[2021-02-10 17:02] cpanato commented on #47
I confirm! but you all have more powers than me :)

[2021-02-10 17:18] leodido commented on #47
Even better @leogr :)

@fjogeleit is in!

[2021-02-10 19:33] Issif commented on #47
Yep, I prepared it 😉

For release process I need to discuss with everybody, I'm waiting for go 1.16 with file embedding, it will be really usefull to share a single all-in binary with html inside.

[2021-02-11 14:20] leogr commented on #47
Done!!! :partying_face:
https://github.com/falcosecurity/falcosidekick-ui

[2021-02-11 14:20] #47 closed

[2021-02-12 20:59] poiana commented on #39
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-02-12 20:59] poiana commented on #39
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/39#issuecomment-778451939):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-02-12 20:59] #39 closed

[2021-02-17 17:12] leodido opened #48 "kubernetes-response-engine"
I want to bring up some issues about the project https://github.com/falcosecurity/kubernetes-response-engine after discussing this in private with @leogr

1. It seems unmaintained since April 2019.
2. It doesn't have OWNERS file
3. It doesn't have @poiana handling it
4. GitHub bot continues to open PR to fix security vulns in its dependencies
5. It still mentions Falco as "Sysdig Falco"

If the co

[2021-02-19 16:04] leogr commented on #48
My vote goes for archiving the project (unless @nestorsalceda and/or @tembleking are willing to fix all the above issues soon?).

Btw, there now should be other ways to implement a response engine with Falco? cc @Issif @danpopSD

[2021-02-19 17:05] Issif commented on #48
I agree, we developped last outputs of `falcosidekick` with that spirit.

[2021-02-19 17:26] danpopSD commented on #48
with this and future updates to sidekick etc.   this repo should be archived (IMHO)

[2021-02-24 15:01] poiana commented on #10
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-02-24 15:01] poiana commented on #10
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/10#issuecomment-785136928):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-02-24 15:01] #10 closed

[2021-02-24 16:20] nibalizer commented on #48
:+1:

[2021-02-25 14:58] leogr commented on #48
Archived!

[2021-02-25 14:58] #48 closed

[2021-03-16 13:49] leogr commented on #46
Any news?

[2021-03-23 17:37] leogr opened #51 "Bulk archiving of projects not up-to-date anymore"
List of unactive/unmaintained projects under the `falcosecurity` organization:

- https://github.com/falcosecurity/cloud-native-security-hub-backend
- https://github.com/falcosecurity/cloud-native-security-hub-frontend
- https://github.com/falcosecurity/cloud-native-security-hub
- https://github.com/falcosecurity/falco-google-kubernetes-marketplace
- https://github.com/falcosecurity/falco-kubernet

[2021-03-23 17:38] leogr commented on #51
/cc @falcosecurity/maintainers

[2021-03-25 13:54] leogr commented on #51
Btw, the `falco-security-workshop` got another PR from the Dependant bot for a potential security issue, PTAL :point_down:
https://github.com/falcosecurity/falco-security-workshop/pulls

[2021-03-25 17:36] maxgio92 commented on #51
Maybe the Falco Operator can be revived :(

[2021-03-25 17:58] leodido commented on #51
/cc @falcosecurity/cloud-native-security-hub-maintainers
/cc @falcosecurity/falco-operator-maintainers

(some of these projects neither have a GitHub team assigned)

I vote to archive abandoned projects.

[2021-04-07 15:58] leogr commented on #51
Done!

[2021-04-07 15:58] #51 closed

[2021-04-09 16:11] leogr opened #62 "Donate plugins repo to falcosecurity"
**Description of Request**

The following two projects are parts of the [libs plugin system](https://github.com/falcosecurity/falco/pull/1637) proposed by @ldegio:

- ~https://github.com/leogr/plugins~ https://github.com/mstemm/plugins *this repo will be the place where various plugins will live; currently, it includes four examples*
- ~https://github.com/ldegio/libsinsp-plugin-sdk-go *an SDK for

[2021-04-13 21:55] poiana commented on #43
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-18 15:55] poiana commented on #44
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-19 16:00] leogr commented on #44
/remove-lifecycle stale
/assign

[2021-04-23 10:34] fntlnz commented on #62
This is a major change on how Falco and the libraries work, we need a proposal for this.

[2021-05-07 10:30] seishinsha commented on #46
Let's rock!

[2021-05-12 10:33] pabloopez opened #70 "Revamping interactive learning resources (katacoda labs)"
The Falco community owns three **Katacoda labs** available in the [Katacoda portal](http://katacoda.com/falco). Currently, although available, they are unmaintained and some parts need some updating work. The [repository](https://github.com/falcosecurity/katacoda-scenarios) is currently archived.

For those in the community who might not know about this platform, it enables interactive training fo

[2021-05-12 12:16] Issif commented on #70
Hello, as discussed on Slack, this is a great idea (please add `falcosidekick` and `falcosidekick-ui` in rebuilding :wink:).

This is a topic we should discuss in community call, can you join us this afternoon?

https://github.com/falcosecurity/community#falco-community-calls

Please, fill the agenda with your topic if you come, the link to hackmq file is https://hackmd.io/3qYPnZPUQLGKCzR14va_qg?e

[2021-05-12 12:33] pabloopez commented on #70
Thank you @Issif, it is done!

[2021-05-13 22:25] poiana commented on #43
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-05-21 09:01] leogr commented on #62
I agree with that, so I have updated the description to make that clearer. My initial intention was more about receiving feedback, but it's totally right we first need that the proposal and the implementation get accepted :+1:

[2021-05-26 16:33] leodido commented on #70
Pablo and future maintainers working [here](https://github.com/pabloopez/katacoda-scenarios)!

Thanks!

[2021-06-02 14:15] pabloopez commented on #70
In the last community meeting, we talked about **embedding the labs in the blog**. This way we could give more visibility to this resources. And therefore, make them easier to access (but not too much, as any visit would load the environment and I think we should not be wasting resources!).

Once all the changes are merged with the original repo (it has been forked, anyone who wants to make commen

[2021-06-09 01:59] poiana commented on #45
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-06-13 02:01] poiana commented on #43
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-06-13 02:01] poiana commented on #43
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/43#issuecomment-860138706):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-06-13 02:01] #43 closed

[2021-06-18 22:06] tspearconquest opened #79 "Falco Driver Loader missing from docs"
**What to document**

The falco driver loader is not really mentioned in the falco docs, but enough of an example to set it up from the helm chart is available on that repo's README.md file to make a working install.

It would be nice to see that documented more properly on falco.org.

[2021-06-19 00:43] tspearconquest commented on #79
I am working on testing the driver loader in our install next week and will be happy to write up amendments to the docs for this.

[2021-06-19 13:49] maxgio92 commented on #79
Hi @tspearconquest, thank you. It would be great. Maybe you could then open a PR on [falco-website](https://gitHub.com/falcosecurity/falco-website) I think.

WDYT @leogr?

[2021-06-21 08:54] leogr commented on #79
`falco-driver-loader` and `falco-no-driver` are mainly mentioned here :point_down:
https://falco.org/docs/getting-started/running/#docker-least-privileged

Having a more detailed would be great for sure. :smiley_cat:

And yes, this issue belongs to falco-website, so I'm transferring it there.

[2021-07-09 02:01] poiana commented on #45
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-07-09 02:01] poiana commented on #45
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/45#issuecomment-876856727):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-09 02:01] #45 closed

[2021-08-08 19:54] poiana commented on #44
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-08-08 20:09] poiana commented on #46
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-08-10 08:32] maxgio92 commented on #44
/remove-lifecycle stale
I think #88 is a WIP, right @leogr?
/assign @leogr

[2021-08-10 12:36] leogr commented on #44
#88 is ready for me!

[2021-08-18 07:44] #44 closed

[2021-08-18 10:01] developer-guy commented on #70
I want to help with this 🥳🙋🏻‍♂️

[2021-08-19 14:43] poiana commented on #62
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-08-20 08:53] leogr commented on #62
/remove-lifecycle stale

[2021-08-28 12:34] #70 closed

[2021-09-01 16:44] admiral0 opened #100 "Create a new repo named terraform-provider-kilt"
**Description of Request**

We need a new repository for the kilt terraform provider.

**Motivation**

Our project for serverless instrumentation has a new runtime - terraform. In order to publish the provider to the terraform registry (https://registry.terraform.io/) we must name the repository [in a certain way](https://www.terraform.io/docs/registry/providers/publishing.html) - `terraform-provi

[2021-09-08 08:18] poiana commented on #46
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-09-08 20:09] mstemm opened #101 "Add plugin-sdk-go repository to falcosecurity organization"
**Description of Request**

This is a related to the [plugins](https://github.com/falcosecurity/falco/blob/master/proposals/20210501-plugin-system.md) proposal. The https://github.com/mstemm/plugin-sdk-go/ repository contains support code for writing plugins in Go. We'd like to move this repository under the falcosecurity organization and donate all the code to the falcosecurity organization.

Thi

[2021-09-09 22:24] mstemm commented on #62
We've been moving repos around a little bit while we finished the work, so I created a separate issue to cover just the plugin-sdk-go repository: https://github.com/falcosecurity/evolution/issues/101.

Let's let this issue cover the plugins themselves.

I updated the description to note that and updated the repo we'd like to donate to https://github.com/mstemm/plugins.

Please let us know what you

[2021-09-17 08:30] leogr commented on #101
/assign

[2021-09-20 08:10] leogr opened #103 "Plugin system - progress tracker"
**Motivation**

Since the plugin system comprises several moving parts and many actions need to be performed in the correct order, I created this issue to keep track of their progress. So, what better place than the evolution repository for that? :smile_cat:

**Overview**

Briefly, before releasing the plugin system feature, the following must be completed and incorporated into our GitHub organiza

[2021-09-21 08:05] leogr commented on #103
Hey @mstemm

I have added some suggestions to your test-infra PRs. Also, I have made two PR to add a notice in both projects' README to reflect their current status.
PTAL :pray:

[2021-09-23 16:22] #101 closed

[2021-09-23 16:31] #62 closed

[2021-10-14 07:11] developer-guy opened #112 "Falco Hot Reloader"
**Description of Request**

@Issif @Kaizhe @Dentrax and I developed a little Go binary that continuously monitors Configmap which includes rules and configuration of the Falco. Whenever the binary sees that there is a change about the rules, it will send a SIGHUP signal to the Falco's container within the same Pod. By doing that Falco can be able to reload itself and continue to work with the new

[2021-11-30 21:37] poiana commented on #100
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-12-31 03:28] poiana commented on #100
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-01-09 09:54] poiana commented on #46
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-12 09:56] poiana commented on #112
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-14 08:27] FedeDP opened #121 "Create a new repo for Falco cpp plugin sdk: plugin-sdk-cpp"
**Description of Request**

**It will just be a move** from the current place (ie: inside the https://github.com/falcosecurity/plugins repo) to a new place: `plugin-sdk-cpp`.

**Motivation**
It does not feel ok to leave the sdk inside the repo that will host Falco plugins provided by falcosecurity.
Therefore, we follow same approach that was taken with https://github.com/falcosecurity/plugin-sdk-g

[2022-01-17 13:31] leogr commented on #121
Good idea.

@FedeDP Would you like to create the new repo? If yes, once done ping me and I help you to transfer it from your account to the falcosecurity org. Then we will finish the setup.

/assign

[2022-01-17 13:37] FedeDP commented on #121
Of course! I will ping back once it is created.

[2022-01-17 13:38] FedeDP commented on #121
The repo has been created using falcosecurity/template-repository: https://github.com/FedeDP/plugin-sdk-cpp

[2022-01-18 08:47] leogr commented on #121
Great! Just a small issue: could you align the OWNERS file with the one in the [plugin repo](https://github.com/falcosecurity/plugins/blob/master/OWNERS)?

[2022-01-18 11:07] #121 closed

[2022-01-30 03:43] poiana commented on #100
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-01-30 03:43] poiana commented on #100
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/100#issuecomment-1025061526):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-01-30 03:43] #100 closed

[2022-02-07 18:41] leogr commented on #103
I believe that everything is ok now :smiley:

so
/close

[2022-02-07 18:41] #103 closed

[2022-02-07 18:41] poiana commented on #103
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/103#issuecomment-1031794639):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-02-13 03:54] poiana commented on #112
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-03-10 16:29] poiana commented on #46
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/46#issuecomment-1064257118):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-10 16:29] #46 closed

[2022-03-15 04:32] poiana commented on #112
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-03-15 04:32] poiana commented on #112
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/112#issuecomment-1067554033):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-03-15 04:32] #112 closed

[2022-03-23 19:48] mstemm opened #132 "Donate falco-aws-terraform module to falcosecurity"
**Description of Request**

I'd like to add a terrraform module that creates necessary aws cloud resources to connect AWS Cloudtrail with the cloudtrail falco plugin.

The module is at https://github.com/mstemm/falco-cloudtrail-terraform. It was copied almost verbatim from the sysdig terraform module for the [cloud-connector](https://github.com/sysdiglabs/terraform-aws-secure-for-cloud), with thei

[2022-03-24 09:57] leogr commented on #132
Nice!

+1 for me :)

[2022-03-24 18:12] mstemm commented on #132
I removed some temporary files that were added by mistake, and also renamed the primary branch from "master" to "main".

[2022-03-30 07:27] jasondellaluce commented on #132
This is cool! 🎉

[2022-04-05 07:58] FedeDP opened #133 "Donate probe-builder/kernel_crawler to falcosecurity"
**Description of Request**

I'd like the [kernel_crawler](https://github.com/draios/probe-builder/tree/dev/probe_builder/kernel_crawler) from the draios/probe-builder repo to be donated to falcosecurity.
It will be used as a github action to maintain a list of currently available kernels in various distros; the output json will be then parsed by clients (namely, test-infra) to automatically genera

[2022-04-05 11:01] maxgio92 commented on #133
As discussed, this is an important step forward I think. Thanks @FedeDP 🤗

I working on a kernel releases crawler, but as of now is a WIP.

[2022-04-05 17:02] mstemm commented on #132
When I import the repository to the falcosecurity org, I'm going to use the name `falco-aws-terraform`, as the terraform module creates various aws resources and not just cloudtrail resources. I renamed the upstream repo to falco-aws-terraform and updated the name in this issue to match.

[2022-04-05 19:45] mstemm commented on #132
Ok, repository is moved: https://github.com/falcosecurity/falco-aws-terraform. And the test-infra PR to get it managed via poiana/prow is https://github.com/falcosecurity/test-infra/pull/668.

[2022-04-05 19:51] mstemm commented on #132
We'll have to make some tweaks to the test-infra PR, but the repo is moved, so closing this issue.

[2022-04-05 19:51] #132 closed

[2022-04-20 17:15] araujof opened #135 "Donate libs-sdk to falcosecurity"
**Description of Request**

We would like to donate our experimental [Libs SDK](https://github.com/sysflow-telemetry/libs-sdk) to falcosecurity.

**Motivation**

We think that this project will be a catalyst for the adoption of Falco Libs by the community. The Libs SDK simplifies the creation of Libs consumers for different programming languages and provides a recipe for building compact Libs cons

[2022-04-22 08:25] leogr commented on #133
+1 for me

Question: who is willing to maintain the project?

[2022-04-22 08:25] FedeDP commented on #133
I think i can; @maxgio92 too i guess :)

[2022-04-22 08:28] zuc commented on #133
I'm also volunteering!

[2022-04-22 11:23] maxgio92 commented on #133
Me too @leogr @FedeDP :)

[2022-04-28 10:02] FedeDP commented on #133
And here it is: https://github.com/falcosecurity/kernel-crawler :)

[2022-04-28 10:02] #133 closed

[2022-04-29 12:19] jasondellaluce commented on #135
I think this is fantastic and I'm onboard for this being part of the Falcosecurity org! Looking forward to hear what other maintainers think, and hopefully we'll get this repo donated soon! 😄

[2022-04-29 13:04] Andreagit97 commented on #135
Thank you @araujof for this huge work :heart_eyes:! I think that this SDK can simplify a lot the creation of Libs consumers also for people who don't have expert knowledge of the Libs, and this is amazing! I can't wait to see it into Falcosecurity :rocket::clap::clap:

[2022-04-29 15:50] Andreagit97 commented on #135
If you want I can help you in doing this :+1:

[2022-05-09 07:38] leogr commented on #135
I'm moving the repo today and starting configuring it! :partying_face:

[2022-05-11 15:36] jasondellaluce commented on #135
I think this is addressed now! What do you all think?

[2022-05-11 16:16] maxgio92 commented on #135
I think this can be closed @jasondellaluce me too. Do you agree @leogr @araujof?

[2022-05-13 15:39] leogr commented on #135
We just miss a PR to update the [projects list](https://github.com/falcosecurity/evolution#projects). @araujof Would you mind making it?

[2022-05-19 16:50] genebean opened #142 "Puppet module docs and release needed"
**Describe the bug**

As noted in https://github.com/falcosecurity/falco/issues/2005, the module at https://forge.puppet.com/modules/sysdig/falco does not point to this repository. It also seems that this repo has had enhancements merged since the last release to the Puppet Forge.

**How to reproduce it**

View https://forge.puppet.com/modules/sysdig/falco

**Expected behaviour**

I expect the doc

[2022-05-23 22:23] genebean commented on #142
Closing as I have rewored this code into a standalone module. The current module cannot be installed via git because it is not in the root of a repo / a repo by itself. I will open a new issue requesting the new module be referenced instead.

[2022-05-23 22:23] #142 closed

[2022-05-24 08:31] maxgio92 commented on #142
Ok, thanks for the update @genebean

[2022-05-25 07:17] leogr commented on #135
It's all set.

/close

[2022-05-25 07:17] #135 closed

[2022-05-25 07:17] poiana commented on #135
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/135#issuecomment-1136874711):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-05-25 08:12] leogr opened #144 "Promote de-facto official projects"
**Description of Request**

The following projects (or part of them) are de-facto officially supported:

- [Falco Helm Chart](https://github.com/falcosecurity/charts/tree/master/falco)
- [Falco K8S manifest files](https://github.com/falcosecurity/evolution/tree/master/deploy/kubernetes/falco), which are autogenerated from the Helm Chart
- [Plugin registry](https://github.com/falcosecurity/plugins)

[2022-05-25 12:44] maxgio92 commented on #144
I agree for all of them, according to the [adoption model](https://github.com/falcosecurity/evolution#adoption-model).

I don't have visibility of the usage of [bare manifests](https://github.com/falcosecurity/evolution/tree/master/deploy/kubernetes/falco), BTW they are generated from the de-facto official [helm chart](https://github.com/falcosecurity/charts/tree/master/falco), so IMHO they also i

[2022-05-25 12:48] leogr commented on #144
Correct. Basically, we have to change the [periodic job](https://github.com/falcosecurity/test-infra/blob/master/config/jobs/update-falco-k8s-manifests/update-falco-k8s-manifests.yaml#L1) to a postsubmit one (so manifests get updated immediately after an Helm chart release). I will fix that!

[2022-05-30 09:03] ajinkya1986 opened #145 "Kubernetes Audit Logs"
**Motivation**

To Enable K8s Audit Logs in Cloud Environments

**Feature**

How do we enable k8s Audit logs in AWS,Azure and GCP.

[2022-05-30 11:33] jasondellaluce commented on #145
Hey @ajinkya1986, in the upcoming Falco 0.32 we are migrating the support to K8S Audit Logs to the new Plugin System: https://github.com/falcosecurity/plugins/tree/master/plugins/k8saudit

Here you can find the current documentation: https://falco.org/docs/event-sources/kubernetes-audit/
This will be updated after the Falco 0.32 release (~June 3rd) with new instructions on how to run the new plugi

[2022-05-30 11:37] ajinkya1986 commented on #145
Thankyou @jasondellaluce  for the quick reply

[2022-06-23 10:28] leogr commented on #144
We definitively need help :)
Would you like to help in maintaining that project?
If yes, +1 for me

[2022-06-27 16:53] #144 closed

[2022-07-05 14:02] jasondellaluce opened #157 "[tracking] cleanup inactive maintainers"
### Motivation

As part of the preparations for our graduation submission, this issue tracks the process of reviewing and cleaning up the OWNERS files of each repository. This is a step for https://github.com/falcosecurity/falco/issues/2106 and follows the community call discussion of 2022-06-29.

The OWNERS files of each repository will be updated to remove maintainers that have been inactive for

[2022-07-13 09:06] FedeDP opened #154 "Archive falcosecurity/template-repository"
**Describe the bug**

I don't see the value of having a template repository, whose only guarantee is adding a default license and an inaccurate `OWNERS` file.
We normally create repositories, and before donating it to `falcosecurity`, make sure that the OWNERS and the LICENSE files are in place. The README should also be there with an explanation of the projects and a little overview.

Furthermore

[2022-07-14 15:56] maxgio92 commented on #154
Is the license the right one for potentially all projects of the organization?

[2022-07-14 15:58] maxgio92 commented on #154
Besides the content, I think the three files is important they're always in place. So I propose to revive the template repo and instead revisit the content where necessary. My 2 cents :-)

[2022-07-14 16:26] leogr commented on #154
Hey @maxgio92

The license should be Apache2, but others are allowed :point_down:
https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md#cncf-allowlist-license-policy

So I don't find it so useful for that purpose.

Moreover, has no sense to me to inherit the `OWNERS` file from the template (and unfortunately we can't remove it from there, otherwise the repo won't work)

[2022-07-14 17:10] leogr commented on #154
That's a good point :+1:

[2022-07-18 12:54] leogr opened #156 "[tracking] Preparation for Falco Graduation"
**Motivation**

We recently discussed the future of Falco, and we think it is in good shape and ready to try for CNCF graduation again. However, before submitting the graduation proposal again, some preparation is required. This issue aims to track the progress of this process.

**Refs**
 - relevant community calls: 2022-06-29, 2022-07-06
 - [previous security audit](https://github.com/falcosecuri

[2022-07-19 14:20] leogr opened #158 "Document OWNERS file usage"
**What to document**

Maintainership in our repository is automated and relies on the `OWNERS` file spec
(see https://www.kubernetes.dev/docs/guide/owners/).

However, we have never explicitly documented it. I'd like to document that in our [governance](https://github.com/falcosecurity/.github/blob/master/GOVERNANCE.md).

This idea was initially proposed by @kris-nova in [this comment](https://git

[2022-07-19 14:31] jasondellaluce commented on #154
+1 from me for archiving the repo.

The template repository has not been used consistently in the past, and I don't think that having default files for license and owners serves any purpose in the organization. Those are both repo-dependent things that should be evaluated case by case. At this point, I feel like having this repository just causes degrees of confusion when contributing new projects

[2022-07-20 06:44] leogr commented on #154
Hey @maxgio92

from the community call feedback and this issue comment, most folks agree on archiving the project. However, I understood you want to revive the repo. At this point, I'd propose to archive the project anyway and eventually unarchive it when we know how to use it and rework it. Meanwhile, users will not be confused by a template repository that has not been consistently used and is c

[2022-07-20 08:43] maxgio92 commented on #154
Hi @leogr,
I like the approach and the mine wasn't a strong opinion. Please, go on with the archival :-)

[2022-07-20 09:11] pabloopez opened #160 "[training] katacoda repo at falcosecurity"
**Describe the bug**

(Not a bug, but there's not a better category for this issues). We detected that O'Reilly closed down last month the free service that we used to host the labs here: https://github.com/falcosecurity/katacoda-scenarios

Hence, none of this content is available any more. I suggest to archive this repository for now.

**How to reproduce it**

Just visit katacoda.com or any of th

[2022-07-20 09:12] leogr commented on #160
/kind documentation

[2022-07-20 09:13] leogr commented on #160
/kind cleanup

[2022-07-20 09:57] jasondellaluce commented on #160
If the content is no more available, I see no point in leaving the repo open! +1 for archiving it, thanks @pabloopez!

[2022-07-20 11:04] #154 closed

[2022-07-20 11:21] leogr opened #161 "Proposal for archiving the `client-rs` repository"
The https://github.com/falcosecurity/client-rs repository is an incubating project that has had no activity since Mar 5, 2020.

Also, if my understanding is correct, all the @falcosecurity/client-rs-maintainers have stepped down. So the repository is currently unmaintained.

If nobody disagrees, we should archive this repository.

Otherwise, please let us know if someone is interested in maintaini

[2022-07-20 11:27] leogr opened #162 "Proposal for archiving the `client-py` repository"
The https://github.com/falcosecurity/client-py repository is an incubating project that has had no activity since Sep 29, 2021

I'm unsure if the current @falcosecurity/client-py-maintainers are still interested in maintaining that repository. If yes, please let us know.

Otherwise, if nobody disagrees, we should archive this repository.

Also, please let us know if someone else is interested in m

[2022-07-20 12:21] leogr opened #163 "Proposal for archiving the `kilt` repository"
The https://github.com/falcosecurity/kilt repository is an incubating project that has had no activity since Nov 2, 2021

I'm unsure if the current @falcosecurity/kilt-maintainers are still interested in maintaining that repository. If yes, please let us know.

Otherwise, if nobody disagrees, we should archive this repository.

Also, please let us know if someone else is interested in maintaining

[2022-07-20 12:24] leogr opened #164 "Proposal for archiving the `pdig` repo"
The https://github.com/falcosecurity/pdig repository is an incubating project that has had no activity since May 28, 2021

I'm unsure if the current @falcosecurity/pdig-maintainers are still interested in maintaining that repository. If yes, please let us know.

Otherwise, if nobody disagrees, we should archive this repository.

Also, please let us know if someone else is interested in maintaining

[2022-07-20 12:40] leogr commented on #161
/kind cleanup

[2022-07-20 12:40] leogr commented on #163
/kind cleanup

[2022-07-20 12:40] leogr commented on #164
/kind cleanup

[2022-07-20 16:50] jasondellaluce commented on #157
Closing this issue as the checklist is now complete.

/close

[2022-07-20 16:50] #157 closed

[2022-07-20 16:51] poiana commented on #157
@jasondellaluce: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/157#issuecomment-1190519109):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-07-21 07:21] leogr commented on #160
As discussed during yesterday's community call, there's no way this repository can continue to work since https://www.katacoda.com/ is now closed. Thus, I'm going to archive the repo soon.

Anyway, I want to say thank you to @pabloopez , for the great job he did with Katacoda :clap:

[2022-07-21 08:58] #160 closed

[2022-07-21 10:15] maxgio92 commented on #158
I agree with this and like it @leogr

[2022-07-21 11:20] leogr commented on #145
Hey @ajinkya1986

Has this issue been addressed?

[2022-07-22 08:09] ajinkya1986 commented on #145
Hi @leogr We have not tested it out yet

[2022-07-25 07:00] leogr commented on #161
cc @leodido

[2022-07-25 07:00] leogr commented on #162
cc @mmat11 @leodido

[2022-07-25 07:02] leogr commented on #164
AFAIK, @ldegio agrees with archiving this repository.
cc @gnosek @leodido

[2022-07-25 07:02] leogr commented on #163
cc @admiral0 @gnosek @leodido

[2022-07-25 12:23] mmat11 commented on #162
feel free to archive the repository

[2022-07-26 14:47] jasondellaluce commented on #158
I agree on this! +1

[2022-07-27 06:44] leogr commented on #156
Quick Update:
After recent discussions, maintainers agree we need to improve our governance to be less ambiguous and clarify roles within the project. We will first work on a draft, and get advice from CNCF's TAG Contributor Strategy's Governance working group. Anyone from willing to be involved in this activity is welcome.

[2022-07-27 16:24] admiral0 commented on #163
I plan to dedicate some time to the project soon - keeping it up to date.

[2022-07-28 07:38] leogr commented on #163
Thank you, Radu. That's good news :)

So closing this for now.

/close

[2022-07-28 07:38] #163 closed

[2022-07-28 07:38] poiana commented on #163
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/163#issuecomment-1197779231):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-07-28 07:44] leogr commented on #162
ACK. At this point, I'm going to archive the repository, hoping we can restore it in the future. We can unarchive it at any time if maintainers are willing to take care of it. In that case, please fill an issue in this repository.

And thank you for all the great job you did :pray:

/close

[2022-07-28 07:44] #162 closed

[2022-07-28 07:44] poiana commented on #162
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/162#issuecomment-1197785130):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-07-28 07:46] leogr commented on #161
Since it seems nobody is interested in maintaining the repository, at this point, I'm going to archive the repository, hoping we can restore it in the future. We can unarchive it at any time if maintainers are willing to take care of it. In that case, please fill an issue in this repository.

And thank you for all the great job you did :pray:

/close

[2022-07-28 07:46] #161 closed

[2022-07-28 07:46] poiana commented on #161
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/161#issuecomment-1197786998):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-07-28 07:49] leogr commented on #164
It seems nobody is willing to maintain the repo and most maintainers agree with archiving it. So, I'm going to archive the repository, hoping we can restore it in the future. We can unarchive it at any time if maintainers are willing to take care of it. In that case, please fill an issue in this repository.

Thank you.

/close

[2022-07-28 07:49] poiana commented on #164
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/164#issuecomment-1197789565):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-07-28 07:49] #164 closed

[2022-08-09 08:54] leogr opened #170 "Move "sandbox" code to its own repository"
**Motivation**

As this repository is becoming more and more critical for decision-making and documenting the whole project, I think it would be a good idea not to mix the documentation with the experimental code. I find it more straightforward and consistent that such source code would live in its repository.

**Feature**

1. create the `falcosecurity/contrib` repository
2. Move the following dir

[2022-08-09 11:01] maxgio92 commented on #170
As discussed we're on the same page and I like the idea to have a `contrib`-dedicated repository.

[2022-08-09 13:11] jasondellaluce commented on #170
I like this idea!

[2022-08-17 15:57] leogr opened #171 "[tracking] Governance update follow-up"
**Motivation**

This issue is a task list of actions to be performed after #169 gets merged.
The motivation to perform some actions after is because #169 is already too big, and some tasks may require PRs in other repositories.

**TODOs**

- [x] Remove the old [falcosecurity/.github/blob/master/GOVERNANCE.md](https://github.com/falcosecurity/.github/blob/master/GOVERNANCE.md)
- [x] Remove the old

[2022-08-24 14:15] leogr commented on #170
I'm working on this

/assign

[2022-08-24 15:23] #170 closed

[2022-08-28 10:14] #158 closed

[2022-08-30 10:30] leogr opened #176 "Move `org.yaml` here"
**Motivation**

It would simplify the CI and all organization-related processes which are currently initiated from this repository.

**Feature**

- move [org.yaml](https://github.com/falcosecurity/test-infra/blob/master/config/org.yaml)
from `test-infra` to `evolution`.
- configure `prow` accordingly

**Alternatives**

**Additional context**
cc @falcosecurity/test-infra-maintainers

[2022-08-30 11:01] leogr opened #178 "Switch default branch to `main` (evolution repository)"
**Motivation**

I'd like to begin an effort to make all the language and terms more inclusive.
Switching to `main` is just one small step in that direction.

**Feature**

Change the default branch of this repository to `main`

**Alternatives**

**Additional context**

[2022-08-30 11:31] maxgio92 commented on #178
I agree with that, thanks @leogr

[2022-08-30 12:34] leogr commented on #178
In progress

[2022-08-30 12:34] leogr commented on #178
/assign

[2022-08-30 13:55] #178 closed

[2022-08-30 15:44] leogr commented on #178
Done. I'm doing the same thing also for `.github` and `community`.

[2022-08-31 09:57] leogr commented on #171
Hoping that I haven't forgotten anything, it should all be set :smile_cat:

/close

[2022-08-31 09:58] #171 closed

[2022-08-31 09:58] poiana commented on #171
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/171#issuecomment-1232727848):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-08-31 22:35] caligin opened #180 "broken link from Falco101 training"
**Describe the bug**

The [Falco 101 training](https://learn.sysdig.com/falco-101/), in section `101.05` - lab #4 "Kubernetes Audit Events" requires downloading an audit policy from this repo using the url `https://raw.githubusercontent.com/falcosecurity/evolution/master/examples/k8s_audit_config/audit-policy.yaml`. this results in a 404 as the content was deletes and moved to a different repo in

[2022-09-01 08:21] leogr commented on #180
I apologize for this problem :sweat_smile:

Thank you, @pmusa, for the quick fix.

/close

[2022-09-01 08:21] poiana commented on #180
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/180#issuecomment-1233923089):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-09-01 08:21] #180 closed

[2022-09-01 08:44] leogr opened #182 "Document our code review process"
**What to document**

Our code review process is very similar to [The Kubernetes Code Review Process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process) (because we use the same automation of Kubernetes, i.e. Prow), but not exactly the same.

Some notable differences:

 - In parallel to the Prow workflow, we enforce GitHub review too (so `/approve` is not enough, th

[2022-09-02 15:42] zuc commented on #182
FTR - the way to change the link referenced in the poiana message is this one: https://github.com/kubernetes/test-infra/blob/61a8c725cbd70fec2dc9002bb2aef39837829f78/prow/plugins/config.go#L323

[2022-09-08 10:07] zuc opened #195 "Automate `org.yaml` generation"
**Motivation**

Current peribolos file is being manually curated. This is of course prone to human error.

**Feature**

Generate `org.yaml` automatically.

**Alternatives**

N/A

**Additional context**

This should be done after #176 is completed.

[2022-09-08 10:11] zuc commented on #195
Note to self: current maintainers/repositories yaml files purposely exclude some data that is actually needed by peribolos (eg. archived repos).

[2022-09-08 14:15] Issif commented on #176
This is maybe a silly question, why are we moving configs in evolution and not in a dedicated repo with all configs useful across repos?

[2022-09-08 15:05] zuc commented on #176
Because
1. `evolution` already contains some assets that we want to leverage from an automation perspective (eg. maintainers list)
2. org management is tightly connected with how the project evolves, so we think `evolution` is the right place
3. peribolos works with a centralized config, so it wouldn't be useful across repos

[2022-09-08 16:48] leogr commented on #195
AFAIK, one must first archive the repository using the GH UI. Otherwise `archived: true` in peribolos won't work. Should we get that information from the GH API? :thinking:

Also, the only path to invite a new member to the org is by adding it to `org.yaml`. I guess that will remain a change that has to be manually applied to `org.yaml`, right?

[2022-09-09 08:48] zuc commented on #195
Fetching repo info from GH APIs to feed a file that is supposed to manage/update the same repo(s) doesn't seem a good path to me.

I still have to draw a plan on this but what I'd like to do is:
1. Have a single source of truth about our repos in a general purpose, machine-readable format (that could be the existing https://github.com/falcosecurity/evolution/blob/main/repositories.yaml file which

[2022-09-09 10:10] zuc commented on #195
cc @jasondellaluce as he curated current automations

[2022-09-12 15:30] leogr opened #198 "Poiana should not open a PR when files are not (actually) changed"
**Describe the bug**

The automation daily checks for updates (OWNERS files and other input files), then process the data, and finally opens a PR to update the relevant files within this repository. However, the PR is open even when only the timestamp has changed

**Screenshots**

![Screenshot from 2022-09-12 17-26-05](https://user-images.githubusercontent.com/3390997/189694205-6cf92d1e-df88-4c02-

[2022-09-12 15:30] leogr commented on #195
Somehow related, IMO :point_down:
https://github.com/falcosecurity/evolution/issues/198

[2022-09-12 15:48] leogr commented on #198
cc @zuc

[2022-09-15 10:00] leogr commented on #156
Update:
All core maintainers are now members of `cncf-falco-maintainers@lists.cncf.io` :partying_face:

[2022-10-17 15:12] FedeDP opened #209 "Donate fededp/syscalls-bumper to falcosecurity"
**Repository**:

https://github.com/FedeDP/syscalls-bumper

**Motivation**

I'd like the SyscallsBumper to be donated to the falcosecurity.
We will use it on our test-infra cluster to periodically bump the list of supported syscalls by falcosecurity/libs.

Its aim is to update, through a periodic PR, these items:
* [syscall_table](https://github.com/falcosecurity/libs/blob/master/driver/syscall_ta

[2022-10-19 07:53] FedeDP commented on #209
/cc @zuc @leogr

[2022-10-19 07:57] leogr commented on #209
Hey @FedeDP

I love it :heart_eyes:

Ofc, +1 from me

PS
The only thing I'd change is just the repo name style (`SyscallsBumper` :point_right: `syscalls-bumper`)

[2022-10-19 07:58] FedeDP commented on #209
I think we can change it while donating, right?

[2022-10-19 08:12] FedeDP commented on #209
Renamed. Works :)

[2022-10-26 14:44] FedeDP commented on #209
See https://github.com/falcosecurity/test-infra/pull/883 for a new periodic prow job that is awaiting this donation :)

[2022-10-27 13:37] maxgio92 commented on #209
Love this automation @FedeDP! Thank you for the effort and willing to donate it

[2022-11-02 10:31] jasondellaluce commented on #209
+1 from my end as well!

[2022-11-03 13:59] leogr commented on #209
Hey @FedeDP
I'll ping you soon, to help you with the contribution :partying_face:

[2022-11-04 16:44] FedeDP commented on #209
Yay!! https://github.com/falcosecurity/syscalls-bumper

/close

[2022-11-04 16:44] poiana commented on #209
@FedeDP: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/evolution/issues/209#issuecomment-1303861157):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-11-04 16:44] #209 closed

[2022-11-09 11:20] leogr commented on #156
See https://github.com/cncf/toc/pull/956 :partying_face:
/close

[2022-11-09 11:20] #156 closed

[2022-11-21 10:10] leogr opened #216 "Dockerhub: cleanup old and not used repositories"
**Motivation**

I've noticed that our [dockerhub account](https://hub.docker.com/u/falcosecurity) contains several legacies and (now) not used any more repositories (e.g. some have not been used in the last 3 years)

**Feature**

Just delete those repositories we are not using anymore.

**Alternatives**

**Additional context**